In [1]:
import data_api3.reader as reader

In [2]:
data = reader.read("tests/data_api3/test.binary")

25, 25

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(data["SLG-LSCP3-FNS:CH7:VAL_GET"])

In [5]:
df.head()

             timestamp    pulse_id  SLG-LSCP3-FNS:CH7:VAL_GET
0  1570010443680428986  9826428986                   0.435130
1  1570010443810428999  9826428999                   1.133162
2  1570010443940429012  9826429012                   0.477331
3  1570010444071429025  9826429025                  -1.254919
4  1570010444201429038  9826429038                   3.836042